{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <h2 class="masthead-subheading mb-0">Book {{event.name}} Tickets</h2>
        <hr>

        <br>
        <form action="{% url 'book-event' event.id %}" method="POST">
          {% csrf_token %}
          {{form|crispy}}
          <input type="submit" vlaue="BOOK" class="btn btn-primary btn-xl rounded-pill mt-5">
        </form>
    </div>
  </div>
</header>
{% endblock %}
