{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <h2 class="masthead-subheading mb-0">{{user.username}} Update Password</h2>
        <hr>
        <br>
        <form action="{% url 'change-password' %}" method="POST">
          {% csrf_token %}
          {{form|crispy}}
          <input type="submit" vlaue="UPDATE" class="btn btn-primary btn-xl rounded-pill mt-5">
        </form>
      {% endif %}
    </div>
  </div>
</header>
{% endblock %}
