{% extends "base.html" %}

{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      {% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up to find events!</a>
      {% else %}

      <!-- PLANNED EVENTS TABLE -->
      <br>
      <h2 class="masthead-subheading mb-0">PROFILE</h2>
      <a href="{% url 'profile-update' %}" class="btn btn-light btn-xl rounded-pill mt-2">Update Profile</a>
      <table class="table mt-2">
        <thead>
          <tr>
            <th scope="col">USERNAME</th>
            <th scope="col">FIRST NAME</th>
            <th scope="col">LAST NAME</th>
            <th scope="col">EMAIL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{request.user.username}}</th>
            <td>{{request.user.first_name}}</td>
            <td>{{request.user.last_name}}</td>
            <td>{{request.user.email}}</td>
          </tr>
        </tbody>
      </table>


      <!-- PLANNED EVENTS TABLE -->
      <br>
      <h2 class="masthead-subheading mb-0">PLANNED EVENTS</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">EVENT</th>
              <th scope="col">DATE</th>
              <th scope="col">TOTAL TICKETS</th>
              <th scope="col">BOOKED TICKETS</th>
              <th scope="col">AVAILABLE TICKETS</th>
              <th scope="col">PLANNER</th>
              <th scope="col">DETAILS</th>
            </tr>
          </thead>
          <tbody>
            {% for event in planned_events %}
              <tr>
                <th scope="row">{{event.name}}</th>
                <td>{{event.date}}</td>
                <td>{{event.tickets}}</td>
                <td>{{event.booked_tickets}}</td>
                <td>{{event.available_tickets}}</td>
                <td>{{event.planner}}</td>
                <td><a href="{% url 'event-details' event.id %}" class="btn btn-light btn-block rounded-pill">Details</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <!-- ATTENDED EVENTS TABLE -->
        <hr>
        <br>
        <h2 class="masthead-subheading mb-0">ATTENDED EVENTS</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">EVENT</th>
                <th scope="col">DATE</th>
                <th scope="col">NUMBER OF TICKETS</th>
                <th scope="col">PLANNER</th>
              </tr>
            </thead>
            <tbody>

              {% for event in attended_events %}
                <tr>
                  <th scope="row">{{event.event.name}}</th>
                  <td>{{event.event.date}}</td>
                  <td>{{event.reserved_tickets}}</td>
                  <td>{{event.event.planner}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      {% endif %}
    </div>
  </div>
</header>



{% endblock %}
