{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <h2 class="masthead-subheading mb-0">{{user.username}} Update</h2>
        <hr>

        <br>
        <form action="{% url 'profile-update' %}" method="POST">
          {% csrf_token %}
          {{form|crispy}}
          <a href="{% url 'change-password' %}" class="btn btn-primary btn-block rounded-pill mt-5">Change Password</a>
          <input type="submit" vlaue="UPDATE" class="btn btn-primary btn-xl rounded-pill mt-5">
        </form>

    </div>
  </div>
</header>
{% endblock %}
